@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
	font-family: Arial, serif;
	font-size: 12px;
	background: #2c3e50;
	overflow: hidden;
}

img {
	max-width: 100%;
}

#bg {
	background-image: url('../img/bg.jpg');
	position: absolute;
}

#header {
	background: #fff;
}	

#header .navbar {
	margin: 0;
	background: none;
	border: none;
}

#header .navbar .navbar-brand {
	font-family: 'Indie Flower', cursive;
}

section {
	padding: 60px 0 100px;
}

.section-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-subheader{
	text-align: center;
}

#footer {
	padding: 20px 0;
	color: #fff;
	text-align: center;
}

/*
	intro
*/

#intro {
	padding-bottom: 0;
	z-index: -9999;
}

#intro .jumbotron {
	background: none;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 80px 0 60px;
	z-index: -9999;
}

#intro .mac {
	text-align: center;
	z-index: -9999;
	position: relative;
}

/*
	Team
*/

#team {
	background: #fff;
	z-index: 9999;
}

#team .person {
	text-align: center;
}

#team .person img {
	padding: 25px;
	border-radius: 50%;
}

#goal {
	text-align: center;
	color: #fff;
}

/*
	Boss
*/
#boss {
	background: #fff;
}

#boss .person {
	text-align: center;
}

/*
	Logbook
*/

#logbook {
	color: #fff;
}

/*
	Group
*/
#group {
	background: #fff;
	padding: 40px 0;
}

#group .section-header {
	margin-bottom: 20px;
}


/*
	Contact
*/
#contact {
	color: #fff;
	text-align: center;
}

#contact ul {
	list-style: none;
}